# MySQL
prod.mysql.datasource.username=your_prod_mysql_user
prod.mysql.datasource.password=your_prod_mysql_password
prod.mysql.datasource.url=jdbc:mysql://your_prod_host:3306/algorithm_cloud?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&rewriteBatchedStatements=true&cachePrepStmts=true&prepStmtCacheSize=250&prepStmtCacheSqlLimit=2048&useLocalSessionState=true&useServerPrepStmts=true
# Redis
prod.redis.database=0
prod.redis.host=your_prod_redis_host
prod.redis.port=6379
prod.redis.password=your_prod_redis_password
# Elasticsearch
prod.elasticsearch.uris=http://your_prod_es_host:9200
prod.elasticsearch.username=elastic
prod.elasticsearch.password=your_prod_es_password
# RabbitMQ
prod.rabbitmq.host=your_prod_rmq_host
prod.rabbitmq.port=5672
prod.rabbitmq.username=rabbitmq
prod.rabbitmq.password=your_prod_rmq_password
# Sa-Token
prod.sa-token.jwt-secret-key=your_prod_jwt_secret
# MinIO
prod.minio.bucket=cloud
prod.minio.endpoint=http://your_prod_minio_host:9000
prod.minio.accessKey=your_prod_minio_access_key
prod.minio.secretKey=your_prod_minio_secret_key
# COS
prod.cos.client.accessKey=your_prod_cos_access_key
prod.cos.client.secretKey=your_prod_cos_secret_key
prod.cos.client.region=xxx
prod.cos.client.bucket=xxx
# Aliyun OSS
prod.aliyun.oss.endpoint=xxx
prod.aliyun.oss.accessKey=xxx
prod.aliyun.oss.secretKey=xxx
prod.aliyun.oss.bucket=xxx
# GitHub OAuth2
prod.github.oauth2.client-id=xxx
prod.github.oauth2.client-secret=xxx
prod.github.oauth2.redirect-uri=xxx
# Mail
prod.mail.host=smtp.163.com
prod.mail.port=465
prod.mail.username=your_prod_mail_user
prod.mail.password=your_prod_mail_password
# AI
prod.aliyun.dashscope.api-key=your_prod_dashscope_api_key
prod.aliyun.dashscope.model-name=qwen-plus
prod.ollama.base-url=http://localhost:11434
prod.ollama.model-name=llama3
# WebSocket
prod.websocket.port=9090
prod.websocket.boss-thread=4
prod.websocket.worker-thread=16
# Nacos
prod.nacos.addr=your_prod_nacos_host:8848
prod.nacos.username=nacos
prod.nacos.password=nacos
